.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
    main{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
    }
}