.header{
    display: grid;
    width: 100%;
    padding: 0 6rem;
    padding-top: 40px;
    align-items: center;
    grid-template-columns: auto 60px;
    gap: 50px;

    @media screen and (min-width: 1400px){
        padding: 40px 6rem;
    }

    .search-bar{
        display: flex;
        align-items: center;
        width: 100%;
        
        color: var(--grey-400);

        .field{
           width: 100%;
           input{
            border: none;
            padding: 8px 10px;
            font-size: var(--fs-lg);
           }
        }
        svg{
            width: 24px;
            height: 24px;
        }
    }

    .theme{
        svg{
        width: 30px;
        height: 30px;
        color: var(--grey-400);
        cursor: pointer;
        }
    }
}