.box{
    display: flex;
    gap: 5px;
    flex-direction: column;
    
    h4{
        font-size: var(--fs-md);
        font-weight: var(--fw-medium);
    }

    input{
        width: 320px;
        padding: 15px 20px;
        border: 1px solid var(--grey-400);
        border-radius: 8px;
        font-size: var(--fs-md);
    }
}